@font-face {
  font-family: 'reckless-regular';
  src: url('../assets/fonts/RecklessNeue-Regular.woff2') format('woff2'),
    url('../assets/fonts/RecklessNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'reckless-italic';
  src: url('../assets/fonts/RecklessNeue-RegularItalic.woff2') format('woff2'),
    url('../assets/fonts/RecklessNeue-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik-medium';
  src: url('../assets/fonts/Graphik-Medium-Web.woff2') format('woff2'),
    url('../assets/fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'graphik-regular';
  src: url('../assets/fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../assets/fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
