<div class="l:pl240">
    <div class="x ph40 s:ph0 s:max-w450 l:max-w1000 ma s:df jcc pt60 s:pt100 l:pt160 pb60 s:pb160 l:pb200 fw">
        <div class="w100 l:w50">
            <h3 class="c-tan pb15 s:pb20 l:pb30 graphm">{{ module.projectName }}</h3>
            <div class="lh130 f32 s:f54 h2ttb" data-component="splitText" style="font-family: reckless-regular, serif;">
                {{ module.bodyText.blockTitle }}
            </div>
            <div class="fade fadeUp mt30 s:mt60 l:mt50 colBlock" data-component="reveal">
                {% for text in module.bodyText.blockText %}
                    {{ text | blocksToHtml | safe }}
                {% endfor %}
            </div>
        </div>
        <div class="w100 l:w50 s:df fc aie s:jcb l:pr40">
            <div class="mt40 s:mt80">
                <div class="s:df l:db fw l:fnw">
                    {% for role in module.roles %}
                        <p class="pRole graphm w100 s:w50 c-grey ttu ls3em f10 s:f12 l:mb15 mb10">
                            {{ role }}
                        </p>
                    {% endfor %}
                </div>
                <div class="mt40 s:mt60 l:mt80">
                    <div id="magBtn" data-component="magneticButton">
                        <a class="df aic point ttu ls1em graphm f10 s:f14 arrowSpan" href="{{ module.link }}" target="_blank">Visit Site
                            <span class="circle ml10 s:ml25 bc-grey" style="border-color:#d5b49e;">
                                <svg class="arrow r-45" fill="none" viewbox="0 0 15 12">
                                    <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#d5b49e"/>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>