{% for module in modules %}
  {% set type = module._type %}
  {% set moduleTemplate %}
  {% include type + '.njk' ignore missing %}
  {% endset %}
  {% if moduleTemplate | trim | length %}
    {{ moduleTemplate | safe }}
  {% endif %}
{% endfor %}