<div class="full x {% if form != 'about'%} pv180 s:pv0 s:min-vh100{% endif %} df aic jcc rel" data-component="contact">
    <div class="ph40 l:ph0 x l:max-w750 s:max-w500" id="contact">
        {% if form == 'about'%}
            <h1 class="l:max-w750 s:max-w500 recki c-tan mb35 s:mb80 h1ttb formTitle2" style="width: 75rem;" data-component="splitText">
                Your turn.
            </h1>
        {% else %}
            <h1 class="l:max-w750 s:max-w500 recki c-tan mb35 s:mb80 formTitle">
                The mic is yours.
            </h1>
        {% endif %}
        <form class="l:max-w750 s:max-w500 rel contactForm" action="post" name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field" autocomplete="off">
            <div class="df aic jcc rel fw formContentWrap">
                <div class="formInputContainer fic1 x pa top left o0">
                    <label class="h3 c-tan formLabel" type="text" for="fname">Hello, my name is</label>
                    <div class="x inputWrap df aic jce bc-grey bb mt20 s:mt30">
                        <div class="formBtn fg1">
                            <input class="h3 pv15 x reck formInput formInputName" type="text" name="name" id="fname" placeholder="Your name" autocomplete="off"/>
                        </div>
                        <div class="nextBtn df dn point abs s:rel">
                            <svg class="arrow" fill="none" viewbox="0 0 15 12">
                                <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#D5B49E"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="formInputContainer fic2 x pa top left dn">
                    <label class="h3 c-tan formLabel" type="text" for="femail">You can reach me at</label><br>
                    <div class="x inputWrap df aic jce bc-grey bb mt20 s:mt30">
                        <div class="formBtn fg1">
                            <input class="h3 pv15 x reck formInput" type="text" name="email" id="femail" placeholder="Your email" autocomplete="off"/>
                        </div>
                        <div class="nextBtn df dn point">
                            <svg class="arrow" fill="none" viewbox="0 0 15 12">
                                <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#D5B49E"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="formInputContainer fic3 x pa top left dn">
                    <label class="h3 c-tan formLabel" type="text" for="fcomp">My company is called</label><br>
                    <div class="x inputWrap df aic jce bc-grey bb mt20 s:mt30">
                        <div class="formBtn fg1">
                            <input class="h3 pv15 x reck formInput companyInput" type="text" name="company" id="fcomp" placeholder="Your company name" autocomplete="off"/>
                        </div>
                        <div class="nextBtn df dn point">
                            <svg class="arrow" fill="none" viewbox="0 0 15 12">
                                <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#D5B49E"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="formInputContainer fic4 x pa top left dn">
                    <div class="x rel z2" style="box-shadow: 1px 30px 20px 20px #0f0e0e;">
                        <label class="h3 c-tan formLabel" type="text" for="fbio">We are working on</label><br>
                    </div>
                    <div class="x inputWrap df aic jce bc-grey bb mt20 s:mt30">
                        <div class="formBtn fg1">
                            <textarea name="message" class="h3 pv15 x reck formInputText lastInput df aie jce" style="height: 13rem;" id="fabout" placeholder="a little bit about your project..." autocomplete="off"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contactSubmit mt40 s:mt25 dn abs s:rel right">
                <button class="fBtn ba bc-tan ph20 pv10 s:pv20 s:ph40 c-tan dn abs ttu f10 s:f14 graphm ls1em" type="submit" style="border-radius: 5rem;" disabled="true">Submit</button>
            </div>
        </form>
        <div class="df s:dn countContainerMobile abs mt40 z9">
            <div class="numberWrapMobile rel reck one">
                <div class="formCount c-tan rel df aic jcc" style="min-height: 4rem">
                    <div class="fmcnt mr10 fmcnt1 acnt f16 s:f20">01</div>
                    <div class="fmcnt mr10 fmcnt2 pen f16 s:f20">02</div>
                    <div class="fmcnt mr10 fmcnt3 pen f16 s:f20">03</div>
                    <div class="fmcnt mr10 fmcnt4 pen f16 s:f20">04</div>
                </div>
            </div>
        </div>
        <div class="successWrap dn l:max-w750 s:max-w500">
            <div class="c-tan h3">
                Thanks for reaching out,
                <span class="rName"></span>!<br>
                You will be hearing from us soon.
            </div>
            {% if form != 'about' %}
                <div class="c-grey f10 s:f12 ttu mt20 s:mt35 graphm ls3em">
                    returning to home now...
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="dn s:df s:mt60 l:mt80 countContainer abs {% if form == 'contact' %} yvh  {% endif %}">
    <div class="backBtn abs dn point z9" style="top: -5rem">
        <svg class="r180" width="15" height="9" fill="none">
            <g clip-path="url(#clip0)">
                <path d="M0 0c2.14478.06601 5.55762.743085 7.38586 2.13307l.02302.01697C9.31385.722338 12.6902.186714 15-1.8e-7 11.9267 2.45746 8.98772 5.34493 7.50096 9 5.86072 5.39585 3.27088 2.28961 0 0z" fill="#625D60"/>
            </g>
            <defs>
                <clippath id="clip0">
                    <path fill="#fff" transform="matrix(0 1 1 0 0 0)" d="M0 0h9v15H0z"/>
                </clippath>
            </defs>
        </svg>
    </div>
    <div class="numberWrap rel reck one">
        <div class="formCount c-tan rel df aic jcc" style="min-height: 4rem">
            <div class="fcnt fcnt1 abs acnt f16 s:f20 l:f28">01</div>
            <div class="fcnt fcnt2 abs cntDown f16 s:f20 l:f28">02</div>
            <div class="fcnt fcnt3 abs cntDown f16 s:f20 l:f28">03</div>
            <div class="fcnt fcnt4 abs cntDown f16 s:f20 l:f28">04</div>
        </div>
        <div class="countDivider"></div>
        <div class="formTotal c-grey">
            <div class="f16 s:f20 l:f28">04</div>
        </div>
    </div>
</div>