<footer class="full x df jcb l:jce pb55 s:pl0 s:pr0 l:pr150" style="">
    <div class="df fw f14 jcb ma l:m0 l:mla s:max-w550 l:max-w850 l:x s:pl0 ph40">
        <div class="df jcs l:fnw fw x s:x l:w50">
            <div class="x s:w50 l:x">
                <p class="c-grey mb10">
                    {{footer.address1}}
                </p>
                <p class="c-grey mb20 s:mb50 l:mb0">
                    {{footer.address2}}
                </p>
            </div>
            <div class="l:ml80 x s:w50 l:x">
                <p class="c-grey mb10">
                    {{footer.email}}
                </p>
                <p class="c-grey s:mb50 l:mb0">
                    {{footer.number}}
                </p>
            </div>
            <div class="df s:dn aic mv30">
                <a href="{{ footer.linkedin }}" target="_blank">
                    <span>
                        <img src="/assets/icons/li_icon.svg" alt="linkedin icon"/>
                    </span>
                </a>
                <a class="ml25" href="{{ footer.instagram }}" target="_blank">
                    <span>
                        <img src="/assets/icons/in_icon.svg" alt="instagram icon"/>
                    </span>
                </a>
            </div>
        </div>
        <div class="df l:fnw s:fw l:jce mt15 s:mt0 l:pl80 x s:x l:w50">
            <div class="dn">
                <p class="c-grey mb10">
                    {{footer.email}}
                </p>
                <p class="c-grey s:mb50">
                    {{footer.number}}
                </p>
            </div>

            <div class="dn s:df aic mv20 s:mv0 l:mr120 s:w50 l:x">
                <a href="{{ footer.linkedin }}" target="_blank">
                    <span>
                        <img src="/assets/icons/li_icon.svg" alt="linkedin icon"/>
                    </span>
                </a>
                <a class="ml25" href="{{ footer.instagram }}" target="_blank">
                    <span>
                        <img src="/assets/icons/in_icon.svg" alt="instagram icon"/>
                    </span>
                </a>
            </div>
            <div class="df aic c-grey s:w50 l:x">
                ©2020
            </div>
        </div>
    </div>
</footer>