<div class="footWrap">
    <footer class="ma l:m0 l:x l:df jcb pb40 s:pb70 l:pr40 l:max-w1000 fade" style="" data-component="reveal">
        <div class="ma l:m0 ph40 s:ph0 s:max-w500 l:max-w450 mb60 l:mb0">
            <div class="">
                <h3 class="c-tan mb30">{{ footer.newsTitle }}</h3>
                <h3 class="dn signupSuccess">Thanks for signing up!</h3>
                {# <form class="signupForm bbhalf f" data-component="subscribe">
                    <div class="x inputWrap df aic jce bc-grey bb mt20 s:mt30">
                        <div class="formBtn fg1">
                            <input class="f14 pv15 x graph formInput companyInput" type="text" id="fcomp" placeholder="email address"/>
                        </div>
                        <button class="nextBtnFoot df point" type="submit">
                            <svg width="15" height="12" fill="none">
                                <path d="M8.24195 0l-.58536.538537L12.761 5.47902H0v.74927h12.761L7.68 11.1454l.56195.5619 5.85365-5.85364L8.24195 0z" fill="#625D60"/>
                            </svg>
                        </button>
                    </div>
                </form> #}
                <div class="subForm" id="mc_embed_signup" data-component="subscribe">
                    <form action="https://agency.us2.list-manage.com/subscribe/post-json?u=6e0780c8dbd3b7da6734980fa&id=76051cfa1e&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate" autocomplete="off">
                        <div id="mc_embed_signup_scroll" class="df aic bbhalf mt20 s:mt30">

                            <div class="mc-field-group fg1">
                                {# <label for="mce-EMAIL dn">Email Address
                                </label> #}
                                <input type="email" value="" name="EMAIL" class="f14 pv15 x graph required email" id="mce-EMAIL" placeholder="email address">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>

                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e0780c8dbd3b7da6734980fa_76051cfa1e" tabindex="-1" value=""></div>
                            <div class="clear">
                                {# <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> #}
                                <button class="nextBtnFoot df point mcBtn" name="subscribe" id="mc-embedded-subscribe" type="submit">
                                    <svg width="15" height="12" fill="none">
                                        <path d="M8.24195 0l-.58536.538537L12.761 5.47902H0v.74927h12.761L7.68 11.1454l.56195.5619 5.85365-5.85364L8.24195 0z" fill="#625D60"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="f14 mt30 subResult dn">
                    Thanks for signing up!
                </div>
                <div class="subscribeError dn">
                    <img class="" src="/assets/icons/error_icon.png" style="width: 1rem" alt="error icon"/>
                    <span class="">Please add your email address.</span>
                </div>
            </div>
            <div class="dn" style="">
                <img src="/assets/icons/white_circle.png" alt="circle icon"/>
            </div>
        </div>
        <div class="df fw f14 jcs ma l:ml100 ph40 s:ph0 s:max-w500 l:max-w450">
            <div class="x s:w50">
                <div class="df fw">
                    <p class="c-grey mb10 x">
                        {{footer.address1}}
                    </p>
                    <p class="c-grey s:mb50 x">
                        {{footer.address2}}
                    </p>
                </div>
                <div class="dn s:df aic">
                    <a href="{{ footer.linkedin }}" target="_blank">
                        <span>
                            <img src="/assets/icons/li_icon.svg" alt="linkedin icon"/>
                        </span>
                    </a>
                    <a class="ml25" href="{{ footer.instagram }}" target="_blank">
                        <span>
                            <img src="/assets/icons/in_icon.svg" alt="instagram icon"/>
                        </span>
                    </a>
                </div>
            </div>
            <div class="mt15 s:mt0 l:pl80 x s:w50">
                <p class="c-grey mb10">
                    {{footer.email}}
                </p>
                <p class="c-grey s:mb50">
                    {{footer.number}}
                </p>
                <div class="df s:dn aic mv30 s:mv0">
                    <a href="{{ footer.linkedin }}" target="_blank">
                        <span>
                            <img src="/assets/icons/li_icon.svg" alt="linkedin icon"/>
                        </span>
                    </a>
                    <a class="ml25" href="{{ footer.instagram }}" target="_blank">
                        <span>
                            <img src="/assets/icons/in_icon.svg" alt="instagram icon"/>
                        </span>
                    </a>
                </div>
                <div class="df aic c-grey">
                    ©2020
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Begin Mailchimp Signup Form -->
{# <div id="mc_embed_signup">
    <form action="https://agency.us2.list-manage.com/subscribe/post-json?u=6e0780c8dbd3b7da6734980fa&id=76051cfa1e&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate">
        <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">
                <label for="mce-EMAIL">Email Address
                    <span class="asterisk">*</span>
                </label>
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e0780c8dbd3b7da6734980fa_76051cfa1e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
</div> #}

<!--End mc_embed_signup-->