<header class="rel">
  <a href="/">
    <div class="fix left top df ml20 s:ml40 l:ml50 mt20 s:mt40 wordmark" style="width: 14rem;z-index:99999" data-component="wordmark"></div>
  </a>
  <div class="vsn dn l:db navItemBG o0 fix"></div>
  <nav class="dn s:df fix z9 c-grey ttu df r-90 f12 l:f14" style="transform-origin:left" data-component="nav">
    <div class="dn l:db w2r menuIcon mr30 pv25 rel z9 point">
      <img class="r90" src="/assets/icons/menu_icon.svg" style="width:2rem;" alt="together menu icon"/>
    </div>
    <a class="vsn navItem graphm dib l:o0 ph25 l:pv25 wco t-x" href="/blog/" data-transition="blog">News</a>
    <a class="vsn navItem graphm dib l:o0 ph25 l:pv25 wco t-x" href="/contact/">Contact</a>
    <a class="vsn navItem graphm dib l:o0 ph25 l:pv25 wco t-x" href="/about">About</a>
    <a class="vsn navItem graphm dib l:o0 ph25 l:pv25 wco t-x" href="/work/">Work</a>
  </nav>
  <nav class="df fc aic jcc s:dn fix left top x fill-y c-tan ttu f12 l:f14 graphm bg-oblack t-y mblNav" style="z-index: 9999;">
    <a class="mblNavItem" style="font-size:5rem" href="/blog/" data-transition="blog">News</a>
    <a class="mblNavItem mt15" style="font-size:5rem" href="/contact/">Contact</a>
    <a class="mblNavItem mt15" style="font-size:5rem" href="/about">About</a>
    <a class="mblNavItem mt15" style="font-size:5rem" href="/work/">Work</a>
  </nav>
  <div class="db s:dn fix w2r mblIcon point right top mr40 mt40" style="z-index: 9999">
    <img class="" src="/assets/icons/menu_icon.svg" style="width:2rem;" alt="together menu icon"/>
  </div>
</header>