<div class="df fw x ma fade pb30 l:pb40 ph30 l:pl0 l:pr40" data-component="reveal">
    <div class="w100 pb30 s:pb0 s:w50 s:pr15 l:pr20">
        <img class="x y" src="{{ module.imgLeft }}"/>
    </div>
    <div class="w100 s:w50 s:pl15 l:pl20">
        <img class="x y" src="{{ module.imgRight }}"/>
    </div>
</div>