<div class="ma pb100 s:pb150 l:pb200 w100 pr signupWrap ph40 s:ph0 s:max-w500 l:max-w600 fade" data-component="reveal">
    <div class="mau">
        <h1 class="recki">Hear it from us.</h1>
        <h3 class="pv30 c-grey">We write about branding, design, strategy and business.
        </h3>
        <h3 class="dn signupSuccess mt8 mb3">Thanks for signing up!</h3>
        <form class="signupForm flbet pt7" data-component="subscribe">
            <div class="x inputWrap df aic jce bc-grey bb mt20 s:mt30">
                <div class="formBtn fg1">
                    <input class="h3 pv15 x reck formInput companyInput" type="text" id="fcomp" placeholder="Your email"/>
                </div>
                <div id="magBtn" data-component="magneticButton">
                    <button class="nextBtnSub df point" type="submit">
                        <svg class="arrow" width="17" height="14" fill="none">
                            <path d="M0 7.20007h15.5M9.29993 1l6.19997 6.19999L9.29993 13.4" stroke="#0f0e0e"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form>
        <div class="dn subscribeError flcs mt-5 vsn">
            <span class="orange f12">Please add your email address.</span>
        </div>
    </div>
</div>