<div class="ma pb100 s:pb150 l:pb200 w100 pr signupWrap ph40 s:ph0 s:max-w500 l:max-w600 fade" data-component="reveal">
    <div class="mau">
        <h1 class="recki">Hear it from us.</h1>
        <h3 class="pv30 c-grey">We write about branding, design, strategy and business.
        </h3>
        <h3 class="dn signupSuccess mt8 mb3">Thanks for signing up!</h3>
        {# <form class="signupForm flbet pt7" data-component="subscribe" autocomplete="off">
            <div class="x inputWrap df aic jce bc-grey bb mt20 s:mt30">
                <div class="formBtn fg1">
                    <input class="h3 pv15 x reck formInput companyInput" type="text" id="fcomp" placeholder="Your email"/>
                </div>
                <div id="magBtn" data-component="magneticButton">
                    <button class="nextBtnSub df point" type="submit">
                        <svg class="arrow" fill="none" viewbox="0 0 15 12">
                            <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#0f0e0e"/>
                        </svg>
                    </button>
                </div>
            </div>
        </form> #}
        <div class="subForm" id="mc_embed_signup" data-component="subscribe">
            <form action="https://agency.us2.list-manage.com/subscribe/post-json?u=6e0780c8dbd3b7da6734980fa&id=76051cfa1e&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="novalidate" autocomplete="off">
                <div id="mc_embed_signup_scroll" class="df aic bbhalf">

                    <div class="mc-field-group fg1">
                        <input type="email" value="" name="EMAIL" class="reck f14 s:f20 l:f28 pv15 x required email" id="mce-EMAIL" placeholder="Your Email">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>

                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e0780c8dbd3b7da6734980fa_76051cfa1e" tabindex="-1" value=""></div>
                    <div class="clear">
                        <button class="df point mcBtn abs bottom right mb10" name="subscribe" id="mc-embedded-subscribe" type="submit">
                            <span class="circle circleGray">
                                <svg class="arrow" fill="none" viewbox="0 0 15 12">
                                    <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#625D60"/>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="f14 mt30 subResult dn">
            Thanks for signing up!
        </div>
        <div class="dn subscribeError flcs mt-5 vsn">
            <span class="orange f12">Please add your email address.</span>
        </div>
    </div>
</div>