<div class="x ma fade pb30 l:pb40 ph30 l:pl0 l:pr40" data-component="reveal">
    <iframe class="x pen usn" src="{{ module.video }}?background=1&muted=1&autoplay=1&loop=1" width="100%" height="750" frameborder="0" allow="autoplay;" allowfullscreen="false"></iframe>
</div>