---
layout: base.njk
permalink: /blog/{{ article.slug }}/
pagination:
  alias: article
  data: article
  size: 1
renderData:
  title: "{{ article.title }}"
---
{% set videoType = 'article' %}
<div class="article rel" data-router-view="default" data-component="article">
  <div class="dn l:df socialWrap l:fix left aic jcc fc" style="width: 24rem;" data-component="socials">
    <a class="facebook mb30" href="#0" data-social="facebook" data-description="{{ article.sharing}}" data-url="https://gotogether.agency/blog/{{ article.slug }}">
      <img class="articleIcon" src="/assets/icons/fb_icon.svg" alt="Facebook Icon"/>
    </a>
    <a class="twitter mb30" href="#0" data-social="twitter" data-description="{{ article.sharing}}" data-url="https://gotogether.agency/blog/{{ article.slug }}">
      <img class="articleIcon" src="/assets/icons/tw_icon.svg" alt="Twitter Icon"/></a>
    <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://gotogether.agency/blog/{{ article.slug }}&title={{article.title | replace(' ', '-')}}&summary={{ article.sharing | replace(' ', '-') }}&source=gotogether.agency" target="_blank">
      <img class="articleIcon" src="/assets/icons/li_icon_tan.svg" alt="LinkedIn Icon"/>
    </a>
  </div>
  <div class="full rel">
    <div class="db s:dn left ml20 mt150 mb30">
      <div class="df aic">
        <a class="df aic" href="/blog/">
          <img class="dn s:db r90" src="/assets/icons/arrow_toggle.svg"/>
          <img class="db s:dn r90" style="width:1rem" src="/assets/icons/arrow_toggle.svg"/>
          <span class="f10 s:f12 l:f14 graphm ttu ls1em ml10 s:ml20 c-grey">All Posts</span>
        </a>
      </div>
    </div>

    <div class="x ma articlePoster dskh oh s:mt180 l:mt0" data-component="reveal">
      <img class="x y o-cover plx" src="{{ article.poster }}"/>
    </div>

    <div class="dn s:db abs mt35 ml30 l:ml0">
      <div class="df aic">
        <a class="df aic" href="/blog/">
          <img class="r90" src="/assets/icons/arrow_toggle.svg"/>
          <span class="f12 l:f14 graphm ttu ls1em ml20 c-grey">All Posts</span>
        </a>
      </div>
    </div>

    <div class="dn s:df l:dn abs l:fix left aic jcc fc mt230" style="width: 18rem;">
      <a class="facebook" href="#0" data-social="facebook" data-description="{{ article.sharing}}" data-url="https://gotogether.agency/blog/{{ article.slug }}">
        <img class="articleIcon mb30 l:mb0" src="/assets/icons/fb_icon.svg" alt="Facebook Icon"/>
      </a>
      <a class="twitter" href="#0" data-social="twitter" data-description="{{ article.sharing}}" data-url="https://gotogether.agency/blog/{{ article.slug }}">
        <img class="articleIcon mb30" src="/assets/icons/tw_icon.svg" alt="Twitter Icon"/></a>
      <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://gotogether.agency/blog/{{ article.slug }}&title={{article.title | replace(' ', '-')}}&summary={{ article.sharing | replace(' ', '-') }}&source=gotogether.agency" target="_blank">
        <img class="articleIcon" src="/assets/icons/li_icon_tan.svg" alt="LinkedIn Icon"/>
      </a>
    </div>

    <div class="mla l:ma max-w650 l:max-w800 rel ph20 s:pr30 l:pr0 mb100 s:mb150 l:mb200">
      <h2 class="x ml0 s:mla articleTitle max-w450 l:max-w600 mt20 s:mt25 ph20 s:pl0 s:pr60 l:pr0 graphm">
        {{ article.title }}
      </h2>
      <div class="mt10 x mla articleMeta ph20 s:ph0 s:max-w450 l:max-w600 c-grey">
        <div class="artDateAuth df aic mt15 s:mt35">
          <div class="journalDate graphm f10 s:f14 ls1em now" data-component="xdates">{{ article.date }}</div>
          <div class="ml20 s:ml30 ttu graphm f10 s:f14 ls1em">
            {{ article.author }}</div>
        </div>
      </div>

      <div class="db s:dn df mt40 ph20">
        <a class="facebook mr30" href="#0" data-social="facebook" data-description="{{ article.sharing}}" data-url="https://gotogether.agency/blog/{{ article.slug }}">
          <img class="articleIcon" src="/assets/icons/fb_icon.svg" alt="Facebook Icon"/>
        </a>
        <a class="twitter mr30" href="#0" data-social="twitter" data-description="{{ article.sharing}}" data-url="https://gotogether.agency/blog/{{ article.slug }}">
          <img class="articleIcon" src="/assets/icons/tw_icon.svg" alt="Twitter Icon"/></a>
        <a class="linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=https://gotogether.agency/blog/{{ article.slug }}&title={{article.title | replace(' ', '-')}}&summary={{ article.sharing | replace(' ', '-') }}&source=gotogether.agency" target="_blank">
          <img class="articleIcon" src="/assets/icons/li_icon_tan.svg" alt="Mail Icon"/>
        </a>
      </div>

      <div class="s:ph0 ma mt40 l:mt80 articleContent reck max-w650 l:max-w800 f16 l:f18">
        {% for block in article.aboutContent %}
          {% if block.children %}
            {{ block | blocksToHtml | safe }}
          {% elseif block._type == 'articleImage'%}
            {% if block.wideImg %}
              <div class="articleImgWide" data-component="reveal">
                <img alt="{{ block.altText }}" class="x" src="{{ block.image }}"/>
              </div>
            {% else %}
              <div class="articleImg" data-component="reveal">
                <img alt="{{ block.altText }}" class="x" src="{{ block.image }}"/>
              </div>
            {% endif %}
          {% elseif block._type == 'video'%}
            {% include 'video.njk' %}
          {% elseif block._type == 'spacer'%}
            {% include 'spacer.njk' %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
    {% if article.relatedArticleLeft %}
      <div class="ph15 s:ph15 l:pr0 mt120 l:mt200 s:mt150">
        <div class="s:ml15 l:ml0 tag tagGrey dib f10 s:f12 l:f14 mb25 l:mb35 l:mb40 lh100">
          Related
        </div>
        <div class="df fw x mb120 s:mb160 l:mb200">
          {% for article in article.relatedArticleLeft %}
            <div class="x s:w50 s:ph15 l:pl0 l:pr40 artThumb oh mb20 s:mb0">
              <a href="/blog/{{ article.slug.current }}">
                <div class="oh">
                  <img class="x l:o-cover" src="{{ article.poster }}" alt="{{ article.altText}}"/>
                </div>
                <div class="x mt15 s:mt20">
                  <h3 class="graphm" style="line-height:1.2">{{ article.title }}</h3>
                  <p class="c-grey mt10 f14 s:f16 l:f18">{{ article.subtitle }}</p>
                  <p class="c-tan mt10 f10 s:f12 graphm journalDate ls1em" data-component="xdates">{{ article.date }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
          {% for article in article.relatedArticleRight %}
            <div class="x s:w50 s:ph15 l:pl0 l:pr40 artThumb oh mb20 s:mb0">
              <a href="/blog/{{ article.slug.current }}">
                <div class="oh">
                  <img class="x l:o-cover" src="{{ article.poster }}" alt="{{ article.altText}}"/>
                </div>
                <div class="x mt15 s:mt20">
                  <h3 class="graphm" style="line-height:1.2">{{ article.title }}</h3>
                  <p class="c-grey mt10 f14 s:f16 l:f18">{{ article.subtitle }}</p>
                  <p class="c-tan mt10 f10 s:f12 graphm journalDate ls1em" data-component="xdates">{{ article.date }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    {% include 'subscribe.njk' %}
  </div>
  {% include 'footerNews.njk' %}
</div>