---
layout: base.njk
title: Blog
---
{% set marquee = blogContent.marqueeText %}
<div class="modules blog mt300" data-router-view="default">
    <div class="scrollContainer x vh100 oy fix z3" data-component="smoothScroll">
        <div class="c-tan h1 mega marquee oh x" style="white-space:nowrap;">
            <div>
                <span>
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                    {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                </span>
            </div>
        </div>
        <div class="full">
            <div class="df fw mt60 s:mt100 ph15 l:ph0 pb100 s:pb150 l:pb200" data-component="xdates">
                {% for article in article %}
                    {% if loop.first %}
                        <div class="x ph15 l:pr40 l:pl0 mb60 l:mb100">
                            <a href="/blog/{{ article.slug }}" data-transition="blog">
                                <img class="x" src="{{ article.poster }}" at="{{ article.posterAlt }}"/>
                                <div class="db s:df">
                                    <div class="x s:max-w450 l:max-w550 mt15 s:mt20 s:w50">
                                        <h3 class="mt2">{{ article.title }}</h3>
                                        <p class="c-grey mt10 f14 s:f16 l:f18">{{ article.subtitle }}</p>
                                    </div>
                                    <div class="fg1 df s:jce">
                                        <p class="mt10 s:mt40 c-tan mt10 f10 s:f12 l:f14 graphm journalDate">{{ article.date }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="x s:w50 pr15 pl15 l:pl15 l:pr40 mb25 s:mb80 l:mb120 fade" data-component="reveal">
                            <a href="/blog/{{ article.slug }}" data-transition="blog">
                                <img class="x" src="{{ article.poster }}" at="{{ article.posterAlt }}"/>
                                <div class="x mt15 s:mt20">
                                    <h3 class="">{{ article.title }}</h3>
                                    <p class="c-grey mt10 f14 s:f16 l:f18">{{ article.subtitle }}</p>
                                    <p class="c-tan mt10 f10 s:f12 graphm journalDate">{{ article.date }}</p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {# {% debug article %} #}
            {% include 'subscribe.njk' %}
        </div>
        {% include 'footerNews.njk' %}
    </div>
</div>