---
layout: base.njk
title: Blog
---
{% set marquee = blogContent.marqueeText %}
<div class="modules blog mt300" data-router-view="default" data-component="blog">
    <div class="c-tan h1 mega marquee oh x" style="white-space:nowrap;">
        <div style="transition: transform .2s ease">
            <span>
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
                {{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}&nbsp;{{ marquee }}
            </span>
        </div>
    </div>
    <div class="full">
        <div class="df fw mt60 s:mt100 ph15 l:ph0 pb80 s:pb100 l:pb130">
            {% for article in article %}
                {% if loop.first %}
                    <div class="x ph15 l:pr40 l:pl0 mb40 s:mb60">
                        <a href="/blog/{{ article.slug }}">
                            <img class="x" src="{{ article.poster }}" alt="{{ article.posterAlt }}"/>
                            <div class="db s:df">
                                <div class="x s:max-w450 l:max-w550 mt15 s:mt20 s:w50">
                                    <h3 class="mt2 graphm" style="line-height:1.2">{{ article.title }}</h3>
                                    <p class="c-grey mt10 f14 s:f16 l:f18">{{ article.subtitle }}</p>
                                </div>
                                <div class="fg1 df s:jce">
                                    <p class="mt10 s:mt20 c-tan mt10 f10 s:f12 l:f14 graphm journalDate ls1em" data-component="xdates">{{ article.date }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="x s:w50 mb25 s:mb40 fade blogThumb" data-component="reveal">
                        <a href="/blog/{{ article.slug }}">
                            <img class="x" src="{{ article.poster }}" alt="{{ article.posterAlt }}"/>
                            <div class="x mt15 s:mt20">
                                <h3 class="graphm" style="line-height:1.2">{{ article.title }}</h3>
                                <p class="c-grey mt10 f14 s:f16 l:f18">{{ article.subtitle }}</p>
                                <p class="c-tan mt10 f10 s:f12 graphm journalDate ls1em" data-component="xdates">{{ article.date }}</p>
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% include 'subscribe.njk' %}
    </div>
    {% include 'footerNews.njk' %}
</div>