---
layout: base.njk
title: About
---
<div class="modules contact" data-router-view="default">
    <div class="x vh100 oy z3 rel" data-component="contactScroll">
        {% set form = 'contact' %}
        {% include 'contactForm.njk' %}
        {% include 'footerNews.njk' %}
    </div>
</div>