---
layout: base.njk
title: Error
permalink: 404.html
---
<div class="error mt25 mau txc flcdc mb25r" data-router-view="default">
    <div class="full vh100 df fc aic jcc">
        <div>
            <h1 class="c-tan">Oops</h1>
            <div class="mt30">We couldn't find that page. Back to
                <a href="/" style="text-decoration: underline">home</a>.</div>
        </div>
    </div>
</div>