---
layout: base.njk
title: Home
---
<div class="modules home full" data-router-view="default">
  <div class="scrollContainer x vh100 oy fix z3" data-component="home">
    <div class="df aic jcc x max-w300 s:max-w550 l:max-w880 ma pt150 pb60 s:pt200 s:pb100 l:pb160 l:pt160">
      <div class="{% if homeContent.heroText.textLarge %} h1 fadettb {% else %} h2 fadeltr {% endif %} c-tan introTitle">
        {% for text in homeContent.heroText.content %}
          {{ text | blocksToHtml | safe }}
        {% endfor %}
      </div>
    </div>

    {% for project in homeContent.featuredProject %}
      <div class="pl20 s:pl30 l:pl0">
        <div class="dib s:dn tag mr20 l:mr100 f10 s:f12 l:f14 mb15">
          Feature
        </div>
        <div class="x featureImg" data-component="featureFade">
          {% if project.isLive %}
            <a class="" href="/work/{{ project.slug.current }} ">
              <img class="x" src="{{ project.image }}" alt="{{ project.altText }}"/>
            </a>
          {% else %}
            <img class="x" src="{{ project.image }}" alt="{{ project.altText }}"/>
          {% endif %}
        </div>
        <div class="df ais jcs rel mt15 l:mt30 x">
          <div class="dn s:dib tag f10 s:f12 l:f14">
            Feature
          </div>
          <div class="df jcb aic x s:pl60 l:pl110">
            <div class="db featureDetails">
              <h3 class="lh10" style="line-height:1;">{{ project.title }}</h3>
              <div class="h3 c-grey mt5 l:mt10 pr20 s:pr40 l:pr0" style="line-height:1.3;">
                {% for text in project.introText.content %}
                  {{ text | blocksToHtml | safe }}
                {% endfor %}
              </div>
            </div>
            {% if project.isLive %}
              <a class="dn s:df aic point ttu ls1em graphm f10 s:f14 arrowSpan s:mr90 l:mr140 ml40" href="/work/{{ project.slug.current }} ">
                <div id="magBtn" data-component="magneticButton">
                  <span class="circle">
                    <svg class="arrow" fill="none" viewbox="0 0 15 12">
                      <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#D5B49E"/>
                    </svg>
                  </span>
                </div>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

    <div class="fLine df fw aic x max-w300 s:max-w550 l:max-w880 ma pt60 pb80 s:pt120 s:pb160 l:pb160 l:pt160">
      <div class="{% if homeContent.aboutText.textLarge %} h1 fadettb {% else %} h2 fadeltr {% endif %}  c-tan" data-component="splitText">
        {% for text in homeContent.aboutText.content %}
          {{ text | blocksToHtml | safe }}
        {% endfor %}
      </div>
      {% if homeContent.aboutText.linkText %}
        <div class="mt20 l:mt45 dib">
          <a class="df aic point ttu ls1em graphm f10 s:f14 arrowSpan" href="/about/">About Us
            <div id="magBtn" data-component="magneticButton">
              <span class="circle ml10 s:ml25">
                <svg class="arrow" fill="none" viewbox="0 0 15 12">
                  <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#D5B49E"/>
                </svg>
              </span>
            </div>
          </a>
        </div>
      {% endif %}
    </div>

    <div class="df fw pr15 pl15 l:pr0 l:pl0 l:mr40">
      <div class="x s:w50 ph5 s:pr20 s:pl0 s:pv20">
        <div class="tag mb25 s:mb60 dib f10 s:f12 l:f14">
          Selected Works
        </div>
        {% for project in homeContent.homeProjectsLeft %}
          <div class="mb20 s:mb80">
            {% if project.isLive %}
              <div class="x homeThumb oh">
                <a href="/work/{{ project.slug.current }}" style="cursor:none!important">
                  <img class="x o-cover pMouse pLive" src="{{ project.image }}" alt="{{ project.altText }}"/>
                </a>
              </div>
            {% else %}
              <div class="x homeThumb oh csn">
                <img class="x o-cover pMouse pHidden" src="{{ project.image }}" alt="{{ project.altText }}"/>
              </div>
            {% endif %}
            <div class="df ais jcs rel mt10 s:mt20 x">
              <div class="db">
                <h3 style="line-height:1;">{{ project.title }}</h3>
                <div class="c-grey s:mt10 f14 s:f18 mt5 pr50 s:pr0" style="line-height:1.3;">
                  {% for text in project.introText.content %}
                    {{ text | blocksToHtml | safe }}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="x s:w50 ph5 pb20 s:pl20 s:pr0 s:pv20">
        {% for project in homeContent.homeProjectsRight %}
          <div class="mb20 s:mb80">
            {% if project.isLive %}
              <div class="x homeThumb oh">
                <a href="/work/{{ project.slug.current }}" style="cursor:none!important">
                  <img class="x o-cover pMouse pLive" src="{{ project.image }}" alt="{{ project.altText }}"/>
                </a>
              </div>
            {% else %}
              <div class="x homeThumb oh csn">
                <img class="x o-cover pMouse pHidden" src="{{ project.image }}" alt="{{ project.altText }}"/>
              </div>
            {% endif %}
            <div class="df ais jcs rel mt10 s:mt20 x">
              <div class="db">
                <h3 style="line-height:1;">{{ project.title }}</h3>
                <div class="c-grey s:mt10 f14 s:f18 mt5 pr50 s:pr0" style="line-height:1.3;">
                  {% for text in project.introText.content %}
                    {{ text | blocksToHtml | safe }}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="df aic jcc x max-w280 s:max-w550 l:max-w880 ma pt60">
      <div class="{% if homeContent.finalText.textLarge %} h1 fadettb {% else %} h2 fadeltr {% endif %} c-tan" data-component="splitText">
        {% for text in homeContent.finalText.content %}
          {{ text | blocksToHtml | safe }}
        {% endfor %}
      </div>
    </div>

    <div class="x ma pt100 pb80 s:pb0 s:pt160 pr0 pl20 s:pr30 s:pl30  l:pl0 l:pr40">

      <div class="rel x bbhalf pb35">
        <span class="tag dib f10 s:f12 l:f14">
          Latest News
        </span>
      </div>

      {% for article in articles %}
        <div class="df aic rel x bbhalf pb35 pt35">
          <span class="ls1em featureDate graphm ttu l:f14 c-tan s:f12 f10" data-component="date">
            {{ article.date }}
          </span>
          <a class="fg1 arrowSpan">
            <span class="fg1 df jcb aic">
              <h3 class="max-w180 s:max-w10000">{{ article.title }}</h3>
              <div id="magBtn" data-component="magneticButton">
                <span class="circle ml0 mr20 s:mr60">
                  <svg class="arrow" fill="none" viewbox="0 0 15 12">
                    <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#D5B49E"/>
                  </svg>
                </span>
              </div>

            </span>
          </a>
        </div>
      {% endfor %}
    </div>

    <div class="x max-w300 s:max-w550 l:max-w880 ma pb100 pt0 s:pv160">
      <div class="{% if homeContent.contactText.textLarge %} h1 fadettb {% else %} h2 fadeltr {% endif %} c-tan" data-component="splitText">
        {% for text in homeContent.contactText.content %}
          {{ text | blocksToHtml | safe }}
        {% endfor %}
      </div>
      {% if homeContent.contactText.linkText %}
        <div class="mt20 s:mt45 dib">
          <a class="df aic point ttu ls1em graphm f10 s:f14 arrowSpan" href="/contact/">{{ homeContent.contactText.linkText }}
            <div id="magBtn" data-component="magneticButton">
              <span class="circle ml10 s:ml25">
                <svg class="arrow" fill="none" viewbox="0 0 15 12">
                  <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#D5B49E"/>
                </svg>
              </span>
            </div>
          </a>
        </div>
      {% endif %}
    </div>
    {% include 'footer.njk' %}
  </div>
  <div class="eyeBtn usn dn l:db"></div>
  <div class="cBtn usn dn l:db" data-component="mouseFollow"></div>
</div>