---
layout: base.njk
permalink: /work/{{ project.slug }}/
pagination:
  alias: project
  data: project
  size: 1
renderData:
  title: "{{ project.title }}"
---

<div class="modules project" data-router-view="default" data-component="projectSection">
    <div class="x">
        <div class="posterSlot x bgSolid oh rel">
            <img class="dib x y o-cover " src="{{ project.poster }}" alt="{{ project.poster.altText }}"/>
        </div>
        {% for section in project.projectSection %}
            {% if section._type == 'projectSection' %}
                {% include 'projectSection.njk' %}
            {% else %}
                {% include 'fullBleedImage.njk' %}
            {% endif %}
        {% endfor %}

        <div class="ph15 s:ph15 l:pr0 l:pl240 mt120 l:mt200 s:mt150">
            <div class="s:ml15 l:ml0 tag dib f10 s:f12 l:f14 mb25 l:mb35 l:mb40 lh100">
                Related
            </div>
            <div class="df fw x mb120 s:mb160 l:mb200">
                {% for project in project.relatedProjectLeft %}
                    {% if project.isLive %}
                        <div class="x s:w50 s:ph15 l:pl0 l:pr40 relThumb oh mb20 s:mb0">
                            <a href="/work/{{ project.slug.current }}/">
                                <div class="oh">
                                    <img class="x l:o-cover pMouse pLive" src="{{ project.poster }}" alt="{{ project.altText}}"/>
                                </div>
                                <h3 class="mt15 l:mt20">{{ project.title }}</h3>
                                <div class="c-grey f14 s:f18">
                                    {% for text in project.introText.content %}
                                        {{ text | blocksToHtml | safe }}
                                    {% endfor %}
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="x s:w50 s:ph15 l:pl0 l:pr40 relThumb oh mb20 s:mb0">
                            <div class="oh csn">
                                <img class="x l:o-cover pMouse pHidden" src="{{ project.poster }}" alt="{{ project.altText}}"/>
                            </div>
                            <h3 class="mt15 l:mt20">{{ project.title }}</h3>
                            <div class="c-grey f14 s:f18">
                                {% for text in project.introText.content %}
                                    {{ text | blocksToHtml | safe }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for project in project.relatedProjectRight %}
                    {% if project.isLive %}
                        <div class="x s:w50 s:ph15 l:pl0 l:pr40 relThumb oh mb20 s:mb0">
                            <a href="/work/{{ project.slug.current }}/">
                                <div class="oh">
                                    <img class="x l:o-cover pMouse pLive" src="{{ project.poster }}" alt="{{ project.altText}}"/>
                                </div>
                                <h3 class="mt15 l:mt20">{{ project.title }}</h3>
                                <div class="c-grey f14 s:f18">
                                    {% for text in project.introText.content %}
                                        {{ text | blocksToHtml | safe }}
                                    {% endfor %}
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="x s:w50 s:ph15 l:pl0 l:pr40 relThumb oh mb20 s:mb0">
                            <div class="oh csn">
                                <img class="x l:o-cover pMouse pHidden" src="{{ project.poster }}" alt="{{ project.altText}}"/>
                            </div>
                            <h3 class="mt15 l:mt20">{{ project.title }}</h3>
                            <div class="c-grey f14 s:f18">
                                {% for text in project.introText.content %}
                                    {{ text | blocksToHtml | safe }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="l:pl240">
            <div class="x max-w300 s:max-w550 l:max-w880 ma pb100 pt0 s:pb160 l:pb250">
                <div class="{% if project.contactText.textLarge %} h1 fadettb {% else %} h2 fadeltr {% endif %} c-tan" data-component="splitText">
                    {% for text in project.contactText.content %}
                        {{ text | blocksToHtml | safe }}
                    {% endfor %}
                </div>
                {% if homeContent.contactText.linkText %}
                    <div class="mt20 s:mt45 dib">
                        <a class="df aic point ttu ls1em graphm f10 s:f14 arrowSpan" href="/contact/">{{ homeContent.contactText.linkText }}
                            <div id="magBtn" data-component="magneticButton">
                                <span class="circle ml10 s:ml25">
                                    <svg class="arrow" fill="none" viewbox="0 0 15 12">
                                        <path d="M.25 5.99988h13.5M8.34998.599854L13.75 5.99985 8.34998 11.3999" stroke="#D5B49E"/>
                                    </svg>
                                </span>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="l:pl240">
            {% include 'footer.njk' %}
        </div>
    </div>
    <div class="eyeBtn usn dn l:db"></div>
    <div class="cBtn usn dn l:db" data-component="mouseFollow"></div>
</div>